<?xml version="1.0" encoding="UTF-8"?>

<config>
    <database>
        <db_name>journal_kovikta</db_name>
        <db_user>postgres</db_user>
        <db_password>Potok_DU</db_password>
        <db_host>172.16.205.51</db_host>
        <db_port>5432</db_port>

        <tb_name>app_info.test_table</tb_name>
        <tb_column_tag>hfrpok</tb_column_tag>
    </database>

    <opcserver_master>
        <opc_host_master>172.16.205.234</opc_host_master>
        <opc_port_master>62544</opc_port_master>
    </opcserver_master>

    <opcserver_slave>
        <opc_host_slave>172.16.205.234</opc_host_slave>
        <opc_port_slave>62544</opc_port_slave>
    </opcserver_slave>

    <rate_5_min>
        <cl_table>app_info.5min_params</cl_table>
        <cl_rate>5</cl_rate>
    </rate_5_min>

<!--    <rate_1_hour>-->
<!--        <cl_table>app_info.10min_params</cl_table>-->
<!--        <cl_rate>60</cl_rate>-->
<!--    </rate_1_hour>-->

<!--    <rate_1_day>-->
<!--        <cl_table>app_info.50min_params</cl_table>-->
<!--        <cl_rate>1440</cl_rate>-->
<!--    </rate_1_day>-->



</config>